<div ng-controller="main" class="container">
  <div ng-show="room === ''" class="row">
  </div>
  <div ng-show="room === 'firstRoom'" ng-controller="firstRoom" class="choice">
    <h2>You are in: {{location}}</h2>
    <p>{{firstRoomDesc}}</p>
  </div>
  <div ng-show="room === 'secondRoom'" ng-controller="secondRoom" class="choice">
    <h2>You are in: {{location}}</h2>
    <p>{{secondRoomDesc}}</p>
  </div>
  <div ng-show="room === 'thirdRoom'" ng-controller="thirdRoom" class="choice">
    <h2>You are in: {{location}}</h2>
    <p>{{thirdRoomDesc}}</p>
  </div>
  <div ng-show="room === 'lastRoom'" ng-controller="lastRoom" class="choice">
    <h2>You are in: {{location}}</h2>
    <p>{{lastRoomDesc}}</p>
  </div>
  <div class="choice">
    <button class="{{class}}" ng-hide="room === 'firstRoom' || room === 'lastRoom'" ng-click="room = firstRoom">Travel to the first room!</button>
    <button class="{{class}}" ng-hide="room === 'secondRoom' || room === 'lastRoom'" ng-click="room = 'lastRoom'">Now travel to the last room!</button>
    <button class="{{class}}" ng-hide="room === 'thirdRoom' || room === 'lastRoom'" ng-click"=room = 'thirdRoom'">Proceed to the third room now!</button>
    <button class="{{class}}" ng-show="coffee && room === 'lastRoom'" ng-click="victory()">Hand Over Coffee</button>
    <button class="{{class}}" ng-if="!coffee" ng-hide="room !== 'thirdroom'" ng-click="brewCoffee()">Use AeroPress!</button>
  </div>
</div>
