<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="game">
<head>
    <meta charset="UTF-8">
    <title>Hell's Kitchen Mini Challenge</title>
    <link href="https://fonts.googleapis.com/css?family=Almendra" rel="stylesheet">
    <link rel="stylesheet" href="../src/css/main.css">
</head>
<body>

	<div ng-show="room === 'dining'">
		<h1>The Hell's Kitchen Dining Room</h1>
		<p>You have just stepped in to the most opulent and decadent dining room in Los Angeles (at least according to the show's narrator). This is a prime destination for B-list celebrities and online contest winners that are here to see and to be seen; each hoping to be annointed with a personal table-side visit from Chef Gordon Ramsay.</p>
		<p>What are you going to do?</p>
			<input class="button" type="button" value="Go to Chef Ramsay's Office" ng-click="office()">
			<input class="button" type="button" value="Go to the Hell's Kitchen" ng-click="kitchen()">
	</div>

	<div ng-show="room === 'kitchen'">
		<h1>Hell's Kitchen</h1>
		<p>Chef Ramsey's kitchen is the apex of culinary excellence and orderly chaos. The kitchen is a buzzing bee hive of activity as Chef Ramsey's kitchen staff diligently prepare for this evening's dinner service. There is a relentless driving rhythm to the pace of their work. The kitchen is hot as Hell as each member of the staff toils amongst the leaping flames.</p>

    <span ng-show="!risottoAssigned && !risottoMade">
      <p>What are you going to do?</p>
			<input class="button" type="button" value="Go to the Dining Room" ng-click="dining()">
      <input class="button" type="button" value="Go to the Pantry" ng-click="pantry()">
    </span>

    <span ng-show="!drankWine && risottoAssigned && !risottoMade && !haveIngredients">
      <p>Go collect your ingredients for the risotto.</p>
			<input class="button" type="button" value="Go to the Dining Room" ng-click="dining()">
      <input class="button" type="button" value="Go to the Pantry" ng-click="pantry()">
    </span>

    <span ng-show="drankWine && risottoAssigned && !risottoMade && !haveIngredients">
      <p>Yo! ... you need to get the ingredients first.</p>
			<input class="button" type="button" value="Go to the Dining Room" ng-click="dining()">
      <input class="button" type="button" value="Go to the Pantry" ng-click="pantry()">
    </span>

    <span ng-show="!drankWine && risottoAssigned && !risottoMade && haveIngredients">
      <p>Great! ... start cooking!</p>
			<input class="button" type="button" value="Go to the Dining Room" ng-click="dining()">
      <input class="button" type="button" value="Make F***ing Risotto" ng-click="makeRisotto()">
      <input class="button" type="button" value="Go to the Pantry" ng-click="pantry()">
    </span>

		<span ng-show="drankWine && risottoAssigned && !risottoMade && haveIngredients">
      <p>Well ... get to it!!!</p>
			<input class="button" type="button" value="Go to the Dining Room" ng-click="dining()">
      <input class="button" type="button" value="Make F***ing Risotto" ng-click="makeRisotto()">
      <input class="button" type="button" value="Go to the Pantry" ng-click="pantry()">
    </span>

    <span ng-show="risottoMade">
      <p>Go show Chef Ramsay your wonderful risotto.</p>
			<input class="button" type="button" value="Go to the Dining Room" ng-click="dining()">
    </span>
	</div>

  <div ng-show="room === 'pantry'">
    <h1>Pantry</h1>
    <p>The Hell's Kitchen pantry is a cornucopia of epicurean delights, well stocked with the freshest and finest ingredients, sourced locally and from around the world ... from New England lobsters to black Périgord truffles. Tucked away in the back corner of the pantry is a mini wine cellar containing the Chef's private stock of Château Lafite Rothschild Pauillac Red Bordeaux 1996.</p>

    <span ng-show="!drankWine && !risottoAssigned && !risottoMade && !haveIngredients">
      <p>Uhhh ... what did Chef Ramsay order you to make?</p>
      <p>What are you going to do?</p>
      <input class="button" type="button" value="Sample the Bordeaux" ng-click="drinkWine()">
			<input class="button" type="button" value="Go to the Hell's Kitchen" ng-click="kitchen()">
    </span>

    <span ng-show="drankWine && !risottoAssigned && !risottoMade && !haveIngredients">
      <p>Absolutely brilliant! ... You just chugged down a $5,000 bottle of wine.</p>
      <p>Do you even know what Chef Ramsay wants you to make?</p>
			<input class="button" type="button" value="Go to the Hell's Kitchen" ng-click="kitchen()">
    </span>

    <span ng-show="!drankWine && risottoAssigned && !risottoMade && !haveIngredients">
      <p>Now that you're in the Pantry, what are you going to do?</p>
      <input class="button" type="button" value="Collect Ingredients for Risotto" ng-click="getIngredients()">
      <input class="button" type="button" value="Sample the Bordeaux" ng-click="drinkWine()">
			<input class="button" type="button" value="Go to the Hell's Kitchen" ng-click="kitchen()">
    </span>

    <span ng-show="!drankWine && risottoAssigned && !risottoMade && haveIngredients">
      <p>Now that you have all the ingredients, go to the kitchen and start cooking!</p>
			<input class="button" type="button" value="Go to the Hell's Kitchen" ng-click="kitchen()">
    </span>

    <span ng-show="drankWine && risottoAssigned && !risottoMade && haveIngredients">
      <p>Now that you have all the ingredients for the risotto, go to the kitchen and start cooking!</p>
			<input class="button" type="button" value="Go to the Hell's Kitchen" ng-click="kitchen()">
    </span>

    <span ng-show="drankWine && risottoAssigned && !risottoMade && !haveIngredients">
      <p>Do you still have the spine to make risotto after you chugged down that $5,000 bottle of Château Lafite?</p>
      <p>What are you going to do now?</p>
      <input class="button" type="button" value="Collect Ingredients for Risotto" ng-click="getIngredients()">
			<input class="button" type="button" value="Go to the Hell's Kitchen" ng-click="kitchen()">
    </span>
  </div>

	 <div ng-show="room === 'office'">
		<h1>Chef Ramsay's Office</h1>
		<p>Chef Ramsey's office is spartan and sparkling clean. Hanging from the wall behind Chef Ramsey is a well-worn cricket bat that has been wielded upon many an unfortunate sous chef. Will you be next? Beads of sweat drip from your brow as Chef Ramsay glares up at you from his desk and yells:</p>

		<span ng-show="!risottoAssigned && !risottoMade">
			<p>"Hey, donkey! Go make me some f***ing risotto to prove you are worthy of staying in this reality competition!"</p>
      <input class="button" type="button" value="Go to the Dining Room" ng-click="dining()">
      <input class="button" type="button" value="Ask Chef to Stop Cursing" ng-click="lose()">
	    <input class="button" type="button" value="Accept Chef's Risotto Challenge" ng-click="assignRisotto()">
    </span>

    <span ng-show="risottoAssigned && !risottoMade">
			<p>"Well, don't just stand around waiting for validation. Get to it, you dumb s***!"</p>
      <input class="button" type="button" value="Go to the Dining Room" ng-click="dining()">
      <input class="button" type="button" value="Ask Chef to Stop Cursing" ng-click="lose()">
    </span>

		<span ng-show="risottoMade && !drankWine">
			<p>"Is that your f***ing risotto? Bring it here, donkey!"</p>
      <input class="button" type="button" value="Go to the Dining Room" ng-click="dining()">
			<input class="button" type="button" value="Ask Chef to Stop Cursing" ng-click="lose()">
			<input class="button" type="button" value="Present Risotto" ng-click="presentRisotto()">
    </span>

    <span ng-show="risottoPresented && !drankWine">
      <p>Chef Ramsay reviews your presentation.</p>
				<input class="button" type="button" value="Chef Ramsay's Verdict" ng-click="victory()">
    </span>

    <span ng-show="risottoMade && drankWine">
			<p>"Is that your f***ing risotto? Bring it here, donkey!"</p>
      <input class="button" type="button" value="Go to the Dining Room" ng-click="dining()">
			<input class="button" type="button" value="Ask Chef to Stop Cursing" ng-click="lose()">
			<input class="button" type="button" value="Present Risotto" ng-click="presentRisotto()">
    </span>

    <span ng-show="risottoPresented && drankWine">
      <p>Chef Ramsay reviews your presentation.</p>
				<input class="button" type="button" value="Chef Ramsay's Verdict" ng-click="defeat()">
    </span>
	</div>

	<div ng-show="room === 'victory'">
		<h1>Victory!</h1>
    <p>"Beautiful presentation ... perfect consistency ... absolutely delicious!"</p>
		<p>"Your lobster risotto is a worthy representation of one of my signature dishes... well done!</p>
    <img src="../imgs/risotto1.png" style="border: 5px solid black;">
    <p>You are safe from elimination in tonight's challenge.</p>
		<input class="button" type="button" value="Play Again?" ng-click="reset()">
	</div>

	<div ng-show="room === 'lose'">
		<h1>Defeat!</h1>
		<p>Chef Ramsey has no need for someone of your delicate sensibilities.</p>
    <p>You are eliminated from competition. Remove your chef's coat and leave the premises.</p>
    <img src="../imgs/tExQ9o4.gif" style="border: 5px solid black;"></br>
		<input class="button" type="button" value="Try Again?" ng-click="reset()">
	</div>

  <div ng-show="room === 'defeat'">
		<h1>Defeat!</h1>
    <p>"Bloody f**king Hell! ... your risotto looks like dog's vomit!"
		<p>"Get out of my sight! ... and you owe me $5,000 for that bottle of Château Lafite, you stupid git!"</p>
      <img src="../imgs/risotto2.png" style="border: 5px solid black;">
    <p>You are eliminated from competition. Remove your chef's coat and leave the premises.</p>
		<input class="button" type="button" value="Try Again?" ng-click="reset()">
	</div>

</body>
</html>
