<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Hell's Kitchen</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
	<div>
		<h1>Dining Room</h1>
		<p>desciptive text................</p>
			<input type="button" value="Go to Chef Ramsay's Office'" ng-click="">
			<input type="button" value="Go to the Hell's Kitchen" ng-click="">
	</div>
	 <div>
		<h1>Kitchen</h1>
		<p>desciptive text................</p>
			<input type="button" value="Go to the Dining Room" ng-click="">
			<input type="button" value="Make f**&ing Risotto*" ng-click="">
	</div>
	 <div>
		<h1>Chef Ramsay's Office</h1>
		<p>desciptive text................</p>
			<input type="button" value="Go to the Dining Room" ng-click="">
			<input type="button" value="Give Chef Ramsay Risotto*" ng-click="">
	</div>
    
</body>
</html>